# Skip creation of a root account
d-i passwd/root-login boolean false

# Enable contrib, non-free & non-free-firmware
d-i apt-setup/contrib boolean true
d-i apt-setup/non-free boolean true
d-i apt-setup/non-free-firmware boolean true

# Disable source repositories
d-i apt-setup/enable-source-repositories boolean false

# Remove calamares, fishbones-live, & modernize sources
d-i preseed/late_command string \
            in-target apt-get -y autopurge calamares fishbones-live; \
            in-target rm /etc/apt/sources.list; \
            in-target rm /etc/apt/sources.list.d/gila.list; \
            echo "Types: deb" > /target/etc/apt/sources.list.d/debian.sources; \
            echo "URIs: http://deb.debian.org/debian/" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Suites: trixie" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Components: main contrib non-free non-free-firmware" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Types: deb" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "URIs: http://deb.debian.org/debian/" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Suites: trixie-updates" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Components: main contrib non-free non-free-firmware" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Types: deb" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "URIs: http://security.debian.org/debian-security/" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Suites: trixie-security" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Components: main contrib non-free non-free-firmware" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Signed-By: /usr/share/keyrings/debian-archive-keyring.gpg" >> /target/etc/apt/sources.list.d/debian.sources; \
            echo "Types: deb" > /target/etc/apt/sources.list.d/gila.sources; \
            echo "URIs: https://testing.hatcherylinux.org/" >> /target/etc/apt/sources.list.d/gila.sources; \
            echo "Suites: gila" >> /target/etc/apt/sources.list.d/gila.sources; \
            echo "Components: main" >> /target/etc/apt/sources.list.d/gila.sources; \
            echo "Signed-By: /etc/apt/trusted.gpg.d/gila.key.binary.gpg" >> /target/etc/apt/sources.list.d/gila.sources
